body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: rgb(20, 20, 29);
}

.container {
    width: 70%;
    margin: auto;
    /* em cima, direita, em baixo, esquerda */
    padding: 25px 45px 400px 45px; 
    background-color: beige;
}

.img1 {
    width: 50%;
    display: block;
}

.img2 {
    width: 80%;
}